<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APITestSuite" verbose="1">
    <listeners>
        <listener class-name="Listeners.Log4jListener"></listener>
        <listener class-name="Listeners.ExtentReportListener"></listener>
    </listeners>
    <test name="APIAutomationTest">
        <classes>
            <class name="Tests.BaseTest" />
            <class name="Tests.CreateBoard"/>
            <class name="Tests.GetBoard"/>
            <class name="Tests.UpdateBoard"/>
            <class name="Tests.CreateList"></class>
            <class name="Tests.CreateCard"></class>
            <class name="Tests.UpdateCard"></class>
            <class name="Tests.CreateLabel"></class>
            <class name="Tests.GetLabel"></class>
            <class name="Tests.UpdateLabel"></class>
            <class name="Tests.DeleteLabel"></class>
            <class name="Tests.DeleteCard"></class>
            <class name="Tests.DeleteBoard"></class>
        </classes>
    </test>
</suite>